@import '../../utilities/variables';

.fullview {
  padding: 16px;

  &__title {
    font-size: 19px;
    line-height: 80px;
    font-weight: 700;
  }

  &__input-title, &__details {
    width: 100%;
    border-bottom: solid 1px #ccc;
  }

  &__input-title {
    line-height: 30px;
  }

  &__details {
    margin-top: 20px;
    height: 100px;
    line-height: 1.5;
    resize: none;
  }

  &__cta {
    width: 100%;
    line-height: 40px;
    color: #fff;
    background-color: $primaryColor;
    transition: all .2s;
    &--disabled {
      background-color: $disabledColor;
    }
  }
}