@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  backdrop-filter: blur(5px);
  animation: fadeIn .2s;

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50%;
    max-height: calc(100% - 70px);
    transform: translateY(100%);
    overflow: auto;
    background-color: #fff;
    animation: slideUp .3s .1s forwards;
  }
}